@media screen and (min-width: 320px) {
  .lead__city_name_tyumen {
    top: 87.6px;
    left: 202.09px;
    width: 17.02px;
  }
}

@media screen and (min-width: 768px) {
  .lead__city_name_tyumen {
    top: 210.24px;
    left: 485.03px;
    width: 40.84px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__city_name_tyumen {
    top: 254.04px;
    left: 586.07px;
    width: 49.35px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__city_name_tyumen {
    top: 269.38px;
    left: 621.44px;
    width: 52.33px;
  }
}
