@media screen and (min-width: 320px) {
  .lead__city_name_tver {
    top: 86.88px;
    left: 60.64px;
    width: 12.07px;
  }
}

@media screen and (min-width: 768px) {
  .lead__city_name_tver {
    top: 208.51px;
    left: 145.55px;
    width: 28.96px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__city_name_tver {
    top: 251.95px;
    left: 175.87px;
    width: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__city_name_tver {
    top: 267.16px;
    left: 186.48px;
    width: 37.11px;
  }
}
