@media screen and (min-width: 320px) {
  .lead__city_name_pskov {
    top: 76.61px;
    left: 7.57px;
    width: 13px;
  }
}

@media screen and (min-width: 768px) {
  .lead__city_name_pskov {
    top: 183.87px;
    left: 18.16px;
    width: 31.19px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__city_name_pskov {
    top: 222.17px;
    left: 21.95px;
    width: 37.69px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__city_name_pskov {
    top: 235.58px;
    left: 23.27px;
    width: 39.97px;
  }
}
