@media screen and (min-width: 320px) {
  .lead__city_name_kotelnich {
    top: 83.05px;
    left: 135.06px;
    width: 27.45px;
  }
}

@media screen and (min-width: 768px) {
  .lead__city_name_kotelnich {
    top: 199.33px;
    left: 324.15px;
    width: 65.88px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__city_name_kotelnich {
    top: 240.86px;
    left: 391.68px;
    width: 79.61px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__city_name_kotelnich {
    top: 255.39px;
    left: 415.31px;
    width: 84.41px;
  }
}
