@media screen and (min-width: 320px) {
  .lead__city_name_manturovo {
    top: 72.44px;
    left: 117.98px;
    width: 24.53px;
  }
}

@media screen and (min-width: 768px) {
  .lead__city_name_manturovo {
    top: 173.86px;
    left: 283.16px;
    width: 58.88px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__city_name_manturovo {
    top: 210.08px;
    left: 342.15px;
    width: 71.14px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__city_name_manturovo {
    top: 222.76px;
    left: 362.8px;
    width: 75.44px;
  }
}
