@media screen and (min-width: 320px) {
  .lead__city_name_omsk {
    top: 95.94px;
    left: 232.16px;
    width: 11.25px;
  }
}

@media screen and (min-width: 768px) {
  .lead__city_name_omsk {
    top: 230.25px;
    left: 557.19px;
    width: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__city_name_omsk {
    top: 278.22px;
    left: 673.28px;
    width: 32.63px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__city_name_omsk {
    top: 295.01px;
    left: 713.9px;
    width: 34.6px;
  }
}
