.lead__ellipse_city_omsk {
  background-image: url(../../../../images/Ellipse-omsk.png);
}

@media screen and (min-width: 320px) {
  .lead__ellipse_city_omsk {
    top: 88.34px;
    left: 236.43px;
  }
}

@media screen and (min-width: 768px) {
  .lead__ellipse_city_omsk {
    top: 212.03px;
    left: 567.44px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__ellipse_city_omsk {
    top: 256.2px;
    left: 685.66px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__ellipse_city_omsk {
    top: 271.66px;
    left: 727.03px;
  }
}
